body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Cormorant Garamond !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 50%;
  }
  
  #myBtn:hover {
    color: #91B40D;
  }

.component{
    width: 100%;
    height: 630px;
    background-image: url(../img/img1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
    position: relative;
}

.component-liner{
    position: absolute;
    width: 100%;
    height: 630px;
    opacity: 0.5;
    background-color: black;
    top: 0;
    left: 0;
}

.container{
    z-index: 3;
    position: relative;
}

.navbar{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbarr{
    border-bottom: solid 2px white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.navbar h6{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;
}

.navbar i{
    color:#91B40D;
    margin-right: 5px;
    cursor: pointer;
}



.navbar-navv{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
    position: relative;
}

.container-liner{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    opacity: 0.5;
}



.navbar-mobile-liner{
    left: -100%;
    position: fixed;
    transition: 0.5s;
    width: 100%;
    height:100vh;
    position: absolute;
    z-index: 7;
}

.mySearch{
    width: 80%;
    padding: 10px 10px;
}

.navbar-mobile{
    top: 0;
    width: 80%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 99;
    transition: 0.5s;
    background: white;
    padding: 20px;
}

.navbar-mobile #removeMenu{
    font-size: 30px;
    top: 10px;
    right: 10px;
    color: black;
    transition: 0.3s;
    cursor: pointer;

}

#removeMenu:hover{
    color: #91B40D;
}

.navbar-mobile #myicons{
    margin-bottom: 20px;
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.navbar-mobile ul li{
    margin-bottom: 15px;
    font-size: 25px;
}

.navbar-navv img{
    width: 113px;
    height: 44;
    cursor: pointer;
    
}

.navbar-navv a{
    color: white;
    margin-right: 15px;
    font-size: 22px;
}

.header-boxx{
    display: flex;
    position: absolute;
    bottom: -625px;
    width: 100%;
    justify-content: space-between;
}

.header-boxxx{
    display: flex;
    width: 100%;
}

.header-box{
    margin-top: 340px;
}

#ulSearch li a{
    color: black !important;
    transition: 0.3s;
}

#ulSearch li a:hover{
    color: #91B40D !important;
}

#myicons{
    font-size: 22px !important;
    margin-top: 5px;
}




@media(max-width: 1100px) {
    .navbar-navv a {
        font-size: 18px;
        
    }

    .navbar-navv #md-icons{
        font-size: 18px !important;
        margin-top:5px !important ;
    }

    .header-boxx {
        display: none !important;
        
        
    }


    .header-box {
        margin-top: 0;
        display: none !important;
        
        
    }

    .box-slide{
        display: block !important;
        margin-top: 340px;
    }

    .box{
        display: flex;
        justify-content: center;
    }

    .component-footer{
        margin-top: 100px !important;
    }

    .gardens-comp h1{
        font-size: 90px !important;
    }

    .companent-about .about p{
        font-size: 13px !important;
    }

    .about-img{
        width: 500px;
        height: 800px;
    }

    .log-img {
        height: 12px;
        width: 150px;
    }

    .gardens-box p {
        width: 300px !important;
    }

    .index-garden img{
        width: 300px !important;
    }
}

.footer-img{
    height: 330px !important;
}


.navbar-navv a:hover{
    color: #91B40D;
    transition: 0.3s;
}

.navbar-navv #md-icons{
    color: white;
    margin-top: 10px;
    font-size: 22px;
    transition: 0.3s;
}

.navbar-navv i:hover{
    color: #91B40D;
}

.navbar-list{
    display: flex;
    align-items: center;
}

#md-icons{
    display: none;
    font-size: 22px;
    color: white;
    transition: 0.3s;
}

#md-icons:hover{
    color: #91B40D;
}

.menu-search{
    position: absolute;
    right: 30px;
    top: 0px;
    color: #91B40D;
    background: white;
    display: none;
}

.menu-search input{
    width: 250px;
    color: #91B40D;
}

#mobileSearch{
    padding: 14px;
    width: 18%;
    background: white;
    color: black;
    border: solid 1px black;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

#mobileSearch:hover{
    background: #91B40D;
    color: white;
    border-color: #91B40D;
}

@media(max-width: 1000px) {

    .about-img{
        display: none;
    }

    .navbar-list{
        display: none;
    }

    #md-icons{
        display: block;
        display: flex;
        align-items: center;
    }

    .box-slide{
        margin-top: 120px;
    }

    .component{
        height: 400px;
    }

    .component-liner{
        height: 400px;
    }

    .about-companent{
        top: 0 !important;
    }

    .blogs-text{
        display: flex !important;
        justify-content: center !important;
    }

    .component-footer{
        margin-top: 250px !important;
    }

    #gardensBoxMb{
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    #gardensBoxLg{
        display: none;
    }

    .component-gardenss{
        display: flex !important;
        justify-content: center !important;
    }

    .products-box{
        justify-content: start !important;
    }

    .products{
        width: 33% !important;
    }

    .component-footer ul li a{
        font-size: 13px !important;
        margin: 3px 0 !important;
    }

    .footer-so{
        margin-top: 20px !important;
    }

    .component-footer{
        margin-top: 100px !important;
        text-align: center;
    }

    .about-gardens{
        height: 530px !important;

    }

    .about-gardens img{
        filter: none !important;
    }

    .about-gardens-liner{
        height: 530px !important;
    }

    .vegetable-img{
        display: none !important;
    }

    .about-galary{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .servic-box-lg{
        display: none !important;
    }

    .servic-box-sm{
        display: flex !important;
    }

    .social-text p{
        font-size: 16px !important;
        width: 100%;
    }

    .about-galary-none{
        display: none;
    }

}

@media(max-width: 750px) {

    .about-gardens{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center;

    }
    .gardens-text{
        width: 300px !important;
        padding:  0 !important;
    }

    .log-img{
        height: 7px !important;
        width: 100px;
    }

    .affairs img{
        width: 25px;
        height: 25px;
        margin-bottom: 10px !important;
    }

    .affairs h6{
        font-size: 10px ;
    }

    .companent-about .about p{
        font-size: 13px !important;
    }

    .companent-about .about h1{
        font-size: 25px !important;
    }

    .component-gardens h1{
        font-size: 25px !important;
    }

    .gardens-text h1{
        font-size: 76px !important;
    }

    .products{
        width: 50% !important;
    }


    .component-footer {
        margin-top: 70px !important;
    }

    .footer-so{
        margin-top: 10px !important;
    }

    .component-blogss h1{
        font-size: 25px !important;
    }

    .gardens-h1{
        font-size: 25px !important;
    }

    .component-products h1{
        font-size: 25px !important;
    }

    .component-products ul li{
        font-size: 16px !important;
        margin-right: 10px !important;
    }

    .navbar-mobile{
        width: 100%;
    }

    .mySearch{
        padding: 6px;
    }
    
    #mobileSearch{
        padding: 10px;
    }

    .about-text h5{
        font-size: 20px !important;
    }

    .gardens-comp{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .gardens-box-lg{
        display: none !important;
    }

    .gardens-box-sm{
        display: flex !important;
    }

    .products-liner-name{
        width: 300px !important;
    }

    .servic-comp{
        display: flex !important;
        justify-content: start !important;
    }

    .servic-comp img{
        width: 350px;
        height: 220px;
    }

    .contact-input{
        margin-bottom: 40px;
    }

     .about-galary-box{
        margin: 20px 0px !important;
    }

    .about-galary-box img{
        width: 100%;
    }
}

@media(max-width: 550px) {
    .products{
        width: 100% !important;
    }

    .component-products ul li{
        font-size: 12px !important;
        margin-right: 8px !important;
    }

    .component-footer ul li a{
        font-size: 10px !important;
        margin: 8px 0 !important;
    }

    .component-footer h6{
        font-size: 12px !important;
    }

    .blogs h6{
        font-size: 15px !important;
    }

    .blogs p{
        font-size: 12px !important;
    }

    .gardens-box p{
        font-size: 13px;
    }

    .companent-about .about p {
        font-size: 12px !important;
    }

    .footer-img {
        height: 270px !important;
    }
}


.footer-index-img {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.position-box1{
    position: relative;
    
}

.position-img{
    position: absolute;
    top:40px;
    left: 10px;
    z-index: 3;
}

.position-img2{
    position: absolute;
    top:15px;
    left: 140px;
}

.position-text{
    position: absolute;
    top: 67px;
    left: 50px;
    color: white;
}

.position-text h3{
    font-weight: bold;
    margin-bottom: 20px;
}

.position-box{
    position: relative;
}

.position-box-img{
    position: absolute;
    top:95px;
    left: 7px;
}

.position-box-img2{
    position: absolute;
    top:90px;
    left: 67px;
}

.position-box-text{
    position: absolute;
    top: 45px;
    left: 40px;
    color: white;
}

.position-box-text h3{
    font-weight: bold;
    margin-bottom: 20px;
}

.position-box2{
    position: relative;
}

.position-box2-img{
    position: absolute;
    top:15px;
    left: 10px;
}

.position-box2-img2{
    position: absolute;
    top:5px;
    left: 60px;
}

.position-box2-text{
    position: absolute;
    top: 48px;
    left: 38px;
    color: white;
}

.position-box2-text h3{
    font-weight: bold;
    margin-bottom: 20px;
}

.companent-about{
    width: 100%;
    position: relative;
    height: 700px;
    top: 200px;
    background-image: url(../img/Rectangle\ 18.png);
    z-index: 2;
}

.about-img{
    position: absolute;
    top: -50px;
    left: 0;
}

.about-md-img{
    display: none;
}

.companent-about .about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.companent-about .about h1{
    font-size: 36px;
    margin-top: 30px;
}

.companent-about .about p{
    font-size: 15px;
    text-align: center;
    font-family: Cormorant Garamond;
}

.log-img{
    height: 17px;
    margin: 0 15px;
}

.affairs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.affairs img{
    margin-bottom: 20px;
}

.component-gardens{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.component-gardenss{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gardens-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 25px;
}

.component-gardens h1{
    font-size: 36px;
    margin-bottom: 25px;
}

.gardens-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gardensBoxMb{
    display: none;
}

.gardens-box p{
    width: 320px;
}

.box-slide{
    display: none;
}

.component-gardens .gardens-box h1{
    color: #918F8F;
    font-size: 120px;
    margin-bottom: 10px;
}

.component-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.component-products h1{
    font-size: 36px;
    margin-bottom: 25px;
}

.component-products ul{
    display: flex;
    margin-top: 30px;
}

.component-products ul li{
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.component-products ul li:hover{
    color: #91B40D;
}

.component-products .active{
    color: #91B40D;
}

.products-active{
    width: 100%;
    display: block;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: 0.3s;
}

.products-box{
    display: none;
}

#products3{
    justify-content: flex-start;
}

.products{
    width: 17%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.products:hover{
    box-shadow: 2px 5px 5px 2px #F4F4F4;
}

.products-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 180px;
    height: 70px;
    background-color: white;
    box-shadow: 1px 3px 1px 3px #F4F4F4;
    position: absolute;
    top: 160px;
}

.component-blogss{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component-blogss h1{
    font-size: 36px;
    margin-bottom: 25px;
}

.blogs-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blogs{
    width: 320px;
}

.blogs h6{
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0 20px 0;
}

.blogs p{
    font-size: 16px;
    color: #7C7A7A;
}

.component-footer {
    z-index: 4;
    margin-top: 500px;
}

.component-footer h6{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.component-footer ul{
    padding: 0;
}

.component-footer ul li a{
    color: white;
    font-size: 18px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.3s;
}

.component-footer ul li a:hover{
    color: #91B40D;
}

.footer-so{
    padding: 10px;
    width: 100%;
    border-top: solid 1px white;
    color: white;
    margin-top: 50px;
}

.footer-img{
    bottom: 0;
    position: absolute;
    width: 100%;
}



/* ======== about ========== */


.about-box-img{
    width: 360px;
    height: 250px;
    background-color: white;
    box-shadow: 1px  3px 3px 1px #7C7A7A;
}

.carousel-inner {
    overflow: visible !important;
}

.about-gardens {
    position: relative;
    height: 500px ;

 
}

.about-gardens h1{
    font-size: 120px;
}

.about-gardens-liner{
    position: absolute;
    height: 500px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
}

.about-gardens .gardens-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1;
    color: rgb(209, 209, 209);
    padding: 40px 20px;
}


.about-gardens img{
    width: 100%;
    height: 100%;
    filter: blur(4px);
}

.gardens-active{
    height: 530px !important;
}

.gardens-active img{
    height: 100%;
    filter: none !important;
}

.gardens-active .about-gardens-liner{
    height: 100%;
}

.gardens-active h1{
    color: white !important;
}

.gardens-active .gardens-text{
    color: white ;
}

/* ======== about ========== */


/* ======== about-us ========== */



.about-nav .navbar-list a{
    color: black;
    margin-right: 10px;
    padding: 7px 5px; 
    border-radius: 5px;
    transition: 0.3s;
}

.about-nav .navbar-list a:hover{
    color: white;
    background-color: #91B40D;
}

.activ-a{
    color: white !important;
    background-color: #91B40D;
}

.about-navbar i{
    color: black;
    transition: 0.3s;
}

.about-navbar i:hover{
    color: #91B40D;
}

.about-navbar h6{
    color: black;
}

.about-navbar .navbarr{
    border-bottom: 1px solid #7C7A7A;
}

.component-about{
    position: relative;
    width: 100%;
    /* height: 500px; */
}

.component-about .navbar-mobile-liner{
    top: 0;
}

.about-nav i{
    color: black !important;
    transition: 0.3s;
}

.about-nav i:hover{
    color: #91B40D !important;
}

.img-about{
    width: 100%;
}


.vegetable-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    padding: 20px;
}

.about-text h5{
    color: #1A5221;
    font-size: 24px;
    margin: 30px 0;
}

.about-text p{
    color: #7C7A7A;
    font-size: 16px;
}

.about-galary-box{
    margin: 20px 20px;
}

.about-galary-box img{
    width: 360px;
    height: 330px;
}

.mySlides {
    display: none ;
}

.slideshow-container {
    position: relative;
  }

.fadee {
    animation-name: fade;
    animation-duration: 1.5s;
  }

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.slideshow-container .active, .dot:hover {
    background-color: #91B40D;
}

.mySlides-active{
    display: block;
    display: flex;
}

.fade-active{
    background-color: #91B40D !important;
}

.about-footer{
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    margin-top: 300px;
}

.about-footer h6{
    color: black;
}

.about-footer ul li a{
    color: black;
    transition: 0.3s;
}

.about-footer ul li a:hover{
    color: #91B40D;
}



/* ======== about-us ========== */


/* ======== gardens ========== */


.gardens-img{
    display: flex;
    justify-content: center;
}

.gardens-comp{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.gardens-comp h1{
    font-size: 120px;
    color: #918F8F;
}

.gardens-comp h4{
    font-size: 20px;
    color: #5F5C5C;
}

.gardens-comp p{
    font-size: 13px;
    color: #7C7A7A;
}

.gardens-textLg{
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
}

.gardens-box-sm{
    display: none;
}

.gardens-h1{
    font-size: 48px;
    color: #3E3737;
    margin-top: 50px;
    margin-left: 100px;
}


/* ======== gardens ========== */

/* ======== products ========== */


.products-liner{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.pro-box{
    position: relative;
}

.pro-box i{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.products-liner-active-box{
    display: block !important;
}

.products-liner-active{
    display: flex;
}

.products-liner-box{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    opacity: 0.7;
    display: none;
}

.pro-box{
    background-color: #F7F7F7;
    z-index: 2;
}

.products-liner-name{
    width: 500px;
}

.products-liner-name h6{
    font-size: 25px;
    font-weight: bold;
}

.products-liner-name p{
    font-size: 14px
}

.products-liner-img{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


/* ======== products ========== */

/* ======== servic ========== */


    .servic-box-sm{
        display: none;
    }


/* ======== servic ========== */

/* ======== social ========== */

    .social-text{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .social-text p{
        text-align: center;
        font-size: 22px;
        color: #3E3737;
        width: 800px;
    }

/* ======== social ========== */


/* ======== contact ========== */


    .contact-input{
        padding: 30px;
        border: 1px #989898 solid;
    }

    .contact-input input{
        border: none;
        border-bottom: 1px solid #918F8F;
        width: 100%;
        padding: 5px;
        font-size: 15px;
        margin-top: 10px;
        outline: none;
    }

    .contact-input textarea{
        width: 100%;
        height: 100px;
        padding: 10px;
        font-size: 15px;
        margin-top: 18px;
        border-radius: 7px;
        outline: none;
    }

    .contact-input h4{
        color: #303030;
        font-size: 20px !important;
    }

    .contact-input button{
        width: 200px;
        font-size: 16px;
        text-align: center;
        padding: 10px 0;
        background-color: #91B40D;
        margin-top: 15px;
        border: none ;
        border-radius: 5px;
        color: white;
    }

    .contact-text{
        background-color: #91B40D;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }

    .contact-text h6{
        font-size: 18px;
        color: white;
        margin: 10px 0 20px 0;
        text-align: center;
    }

    .contact-text i{
        margin-right: 7px;
        color: #91B40D;
        width: 35px;
        height: 35px;
        font-size: 15px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        cursor: pointer;
    }



/* ======== contact ========== */















